ul {
    margin: .5rem;
    padding: .5rem;
    list-style: none;
    display: flex;
    gap: 1rem;
    border: 1px solid black;
    border-radius: .25rem;
    border-color: black;
    background-color: beige;
}
